# Projeto Python + Banco de Dados

Este projeto tem como objetivo integrar a biblioteca `pandas` com o uso de bancos de dados relacionais utilizando `SQLAlchemy`. O foco est치 em carregar, manipular e consultar dados de forma eficiente.

## 游닍 Importando bibliotecas

In [25]:
from sqlalchemy import create_engine, text, MetaData, inspect, Table
import pandas as pd

## 游 Criando a conex칚o com banco de dados

In [26]:
engine = create_engine('sqlite:///:memory:')

## 游댌 Inspe칞칚o do banco de dados

In [27]:
inspector = inspect(engine)

## 游늭 Importando dados

In [28]:
url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv'
aluguel = pd.read_csv(url, sep=';')
aluguel.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Bot칙nico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higien칩polis,1,0,0,48,800.0,230.0,NaN

## 游 Salvando dados no banco

In [29]:
aluguel.to_sql('aluguel', engine, index = False)

32960

In [30]:
inspector.get_table_names()

['aluguel']

## Lista de tarefas a realizar:

Cada tarefa vai possuir o codigo python integrado com banco de dados e o codigo python usando apenas a biblioteca pandas

1. Filtrar os imoveis pelo apenas pelo tipo apartamento

2. Contar quantos im칩veis existem por tipo (ex: Casa, Apartamento, etc.)

3. Selecionar os im칩veis com 치rea maior que 100 m쑆n
4. Calcular o valor m칠dio do aluguel dos im칩veis que possuem vaga de garagem

5. Listar os 5 im칩veis com o maior valor de condom칤nio

6. Selecionar os im칩veis cujo IPTU est치 entre RS 100,00 e RS 500,00

7. Contar quantos im칩veis possuem valor total (aluguel + condom칤nio + IPTU) superior a R$ 5.000

8. Agrupar im칩veis por n칰mero de quartos e calcular o valor m칠dio do aluguel por grupo

In [31]:
pd.read_sql_table('aluguel', engine)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Bot칙nico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higien칩polis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepagu치,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,S칚o Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

### 1. Filtrar os imoveis apenas pelo tipo apartamento

In [32]:
query = 'SELECT * FROM aluguel WHERE Tipo = "Apartamento"'
pd.read_sql(query, engine)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
1,Apartamento,Higien칩polis,1,0,0,48,800.0,230.0,NaN
2,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
3,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
4,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
19527,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,NaN
19528,Apartamento,M칠ier,2,0,0,70,900.0,490.0,48.0
19529,Apartamento,Jacarepagu치,3,1,2,78,1800.0,800.0,40.0
19530,Apartamento,S칚o Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
19531,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [33]:
apartamentos = aluguel[aluguel['Tipo'] == 'Apartamento']
apartamentos

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higien칩polis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
10,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32951,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,NaN
32953,Apartamento,M칠ier,2,0,0,70,900.0,490.0,48.0
32956,Apartamento,Jacarepagu치,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,S칚o Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

### 2. Contar quantos im칩veis existem por tipo

In [34]:
query = 'SELECT Tipo, COUNT(*) FROM aluguel GROUP BY Tipo'
pd.read_sql(query, engine)

                           Tipo  COUNT(*)
0                   Apartamento     19532
1                   Box/Garagem        82
2                          Casa       967
3                Casa Comercial       265
4            Casa de Condom칤nio       996
5                  Casa de Vila       249
6                       Ch치cara         1
7       Conjunto Comercial/Sala      6815
8                          Flat       476
9       Galp칚o/Dep칩sito/Armaz칠m       623
10                        Hotel         2
11                    Ind칰stria         1
12                         Loft        51
13  Loja Shopping/ Ct Comercial       247
14                   Loja/Sal칚o      1426
15        Loteamento/Condom칤nio         5
16                Pousada/Chal칠         1
17               Pr칠dio Inteiro       301
18                    Quitinete       836
19                       Studio         4
20                        S칤tio        10
21               Terreno Padr칚o        70

In [35]:
aluguel.groupby('Tipo').size()

Tipo
Apartamento                    19532
Box/Garagem                       82
Casa                             967
Casa Comercial                   265
Casa de Condom칤nio               996
Casa de Vila                     249
Ch치cara                            1
Conjunto Comercial/Sala         6815
Flat                             476
Galp칚o/Dep칩sito/Armaz칠m          623
Hotel                              2
Ind칰stria                          1
Loft                              51
Loja Shopping/ Ct Comercial      247
Loja/Sal칚o                      1426
Loteamento/Condom칤nio              5
Pousada/Chal칠                      1
Pr칠dio Inteiro                   301
Quitinete                        836
Studio                             4
S칤tio                             10
Terreno Padr칚o                    70
dtype: int64

### 3. Selecionar os im칩veis com 치rea maior que 100 m

In [36]:
query = 'SELECT * FROM aluguel WHERE Area > 100'
pd.read_sql(query, engine)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
1,Casa de Condom칤nio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
2,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0
3,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0
4,Pr칠dio Inteiro,Botafogo,0,0,0,536,28000.0,NaN,3563.0
...,...,...,...,...,...,...,...,...,...
13847,Conjunto Comercial/Sala,Centro,0,0,0,140,4000.0,1412.0,496.0
13848,Apartamento,Ipanema,3,1,2,150,15000.0,1400.0,600.0
13849,Casa de Condom칤nio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0
13850,Box/Garagem,Centro,0,0,0,755,14000.0,NaN,NaN
13851,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [37]:
aluguel[aluguel['Area'] > 100]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
7,Casa de Condom칤nio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0
15,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0
16,Pr칠dio Inteiro,Botafogo,0,0,0,536,28000.0,NaN,3563.0
...,...,...,...,...,...,...,...,...,...
32946,Conjunto Comercial/Sala,Centro,0,0,0,140,4000.0,1412.0,496.0
32949,Apartamento,Ipanema,3,1,2,150,15000.0,1400.0,600.0
32952,Casa de Condom칤nio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0
32954,Box/Garagem,Centro,0,0,0,755,14000.0,NaN,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

### 4. Calcular o valor m칠dio do aluguel dos im칩veis que possuem vaga de garagem

In [38]:
query = 'SELECT AVG(Valor) FROM aluguel WHERE Vagas > 0'
pd.read_sql(query, engine)

    AVG(Valor)
0  15879.42705

In [39]:
aluguel[aluguel['Vagas'] > 0]['Valor'].mean()

np.float64(15879.42705010321)

###5. Listar os 5 im칩veis com o maior valor de condom칤nio

In [40]:
query = 'SELECT * FROM aluguel ORDER BY Condominio DESC LIMIT 5'
pd.read_sql(query, engine)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Apartamento,Barra da Tijuca,2,1,1,104,3800.0,6552570.0,655.0
1,Apartamento,Lins de Vasconcelos,2,1,0,78,1200.0,519000.0,135.0
2,Conjunto Comercial/Sala,Centro,0,0,0,11216,874895.0,196291.0,NaN
3,Pr칠dio Inteiro,Barra da Tijuca,0,99,0,8467,677360.0,194741.0,59269.0
4,Pr칠dio Inteiro,Centro,0,99,0,8680,475200.0,190965.0,34720.0

In [41]:
aluguel.sort_values('Condominio', ascending = False).head(5)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
18028,Apartamento,Barra da Tijuca,2,1,1,104,3800.0,6552570.0,655.0
21666,Apartamento,Lins de Vasconcelos,2,1,0,78,1200.0,519000.0,135.0
23440,Conjunto Comercial/Sala,Centro,0,0,0,11216,874895.0,196291.0,NaN
26552,Pr칠dio Inteiro,Barra da Tijuca,0,99,0,8467,677360.0,194741.0,59269.0
29392,Pr칠dio Inteiro,Centro,0,99,0,8680,475200.0,190965.0,34720.0

###6. Selecionar os im칩veis cujo IPTU est치 entre RS 100,00 e RS 500,00

In [42]:
query = 'SELECT * FROM aluguel WHERE IPTU >= 100 AND IPTU <= 500'
pd.read_sql(query, engine)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0
1,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0
2,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0
3,Apartamento,Barra da Tijuca,3,3,1,175,4200.0,1500.0,500.0
4,Apartamento,Copacabana,3,0,0,180,5500.0,1780.0,420.0
...,...,...,...,...,...,...,...,...,...
10487,Apartamento,Barra da Tijuca,2,1,1,85,2250.0,1561.0,197.0
10488,Apartamento,Barra da Tijuca,3,2,0,98,2300.0,887.0,177.0
10489,Quitinete,Copacabana,1,0,0,22,1500.0,286.0,200.0
10490,Conjunto Comercial/Sala,Centro,0,0,0,140,4000.0,1412.0,496.0
10491,Apartamento,Leblon,3,0,1,80,3000.0,1010.0,249.0

In [43]:
aluguel[(aluguel['IPTU'] >= 100) & (aluguel['IPTU'] <= 500)]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
20,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0
21,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0
27,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0
30,Apartamento,Barra da Tijuca,3,3,1,175,4200.0,1500.0,500.0
34,Apartamento,Copacabana,3,0,0,180,5500.0,1780.0,420.0
...,...,...,...,...,...,...,...,...,...
32940,Apartamento,Barra da Tijuca,2,1,1,85,2250.0,1561.0,197.0
32941,Apartamento,Barra da Tijuca,3,2,0,98,2300.0,887.0,177.0
32945,Quitinete,Copacabana,1,0,0,22,1500.0,286.0,200.0
32946,Conjunto Comercial/Sala,Centro,0,0,0,140,4000.0,1412.0,496.0
32947,Apartamento,Leblon,3,0,1,80,3000.0,1010.0,249.0

###7. Contar quantos im칩veis possuem valor total (aluguel + condom칤nio + IPTU) superior a R$ 5.000

In [44]:
query = 'SELECT COUNT(*) FROM aluguel WHERE (Valor + Condominio + IPTU) > 5000'
pd.read_sql(query, engine)

   COUNT(*)
0      9644

In [45]:
aluguel[(aluguel['Valor'] + aluguel['Condominio'] + aluguel['IPTU']) > 5000].shape[0]

9644

###8. Agrupar im칩veis por n칰mero de quartos e calcular o valor m칠dio do aluguel por grupo

In [46]:
query = 'SELECT Quartos, AVG(Valor) FROM aluguel GROUP BY Quartos'
pd.read_sql(query, engine)

    Quartos     AVG(Valor)
0         0   31381.616987
1         1    2264.390750
2         2    2686.816021
3         3    5086.381538
4         4   12464.927569
5         5   15673.033217
6         6   16529.693431
7         7   19440.000000
8         8   16052.631579
9         9   10250.000000
10       10   23590.909091
11       11   11750.000000
12       12   17000.000000
13       14    7250.000000
14       22   30000.000000
15       23    1480.000000
16       24   38000.000000
17       27   12000.000000
18       32    4000.000000
19      100  260500.000000

In [47]:
aluguel.groupby('Quartos')['Valor'].mean()

Quartos
0       31381.616987
1        2264.390750
2        2686.816021
3        5086.381538
4       12464.927569
5       15673.033217
6       16529.693431
7       19440.000000
8       16052.631579
9       10250.000000
10      23590.909091
11      11750.000000
12      17000.000000
14       7250.000000
22      30000.000000
23       1480.000000
24      38000.000000
27      12000.000000
32       4000.000000
100    260500.000000
Name: Valor, dtype: float64